<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.GoodsImgDao">

  <insert id="AddGoodsImg" >
  insert into goodsimg values(null,#{goods_id},#{goodsimg_src},now(),null)
  </insert>
  
</mapper>