<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.dao.UsersDao">

	<!--用户注册 -->
	<insert id="addUser">
		insert into
		users(user_id,user_acc,user_email,user_tel,user_pwd,user_state,user_balance,user_create)
		values(null,#{user_acc},#{user_email},#{user_tel},#{user_pwd},#{user_state},#{user_balance},now())
	</insert>

	<!--账号验证 -->
	<select id="validation" resultType="com.etc.entity.Users">
		select * from users where
		user_acc = #{user_acc}
	</select>

	<!--登陆 -->
	<select id="login" resultType="com.etc.entity.Users">
		select * from users where user_acc
		= #{user_acc} and user_pwd = #{user_pwd}
	</select>

	<!--完善信息 -->
	<update id="contact">
		update users u set u.user_realname =
		#{user_realname},u.user_cardid = #{user_cardid},u.user_address =
		#{user_address},u.user_modified = #{user_modified} where user_acc =
		#{user_acc}
	</update>

	<!--依據用戶編號->查詢用戶詳細資訊 -->
	<select id="queryUsersById" resultType="Users">
		select * from users where user_id = #{id}
	</select>
	
	<!--查詢所有用戶  -->
	<select id="queryUsers" resultType="Users">
		select * from users;
	</select>
	
	<!--依據用戶名子->查詢用戶(模糊查詢)  -->
	<select id="queryUsersByName" resultType="Users">
		select * from users where user_realname like
		concat('%',#{user_realname},'%')
	</select>
	
	<!--删除用户  -->
	<delete id="delUser">
		delete from users where user_id=#{user_id};
	</delete>
	
	<!--更新用户  -->
	<update id="updateUser" parameterType="Users">
		update users set
		user_realname = #{user_realname},
		user_balance = #{user_balance},
		user_email = #{user_email}
		where user_id = #{user_id}
	</update>
</mapper>